@import "/home/ash/.cache/wal/colors-waybar.css";

/* =========================================
   🔮 Pywal Dynamic Theme Integration
   ========================================= */
@define-color pywal-bar-bg rgba(30, 30, 46, 0.0);

/*Dynamic colors from pywal*/
@define-color pywal-module-bg alpha(mix(@color0, @color4, 0.45), 0.75);
@define-color pywal-module-fg @foreground;

/*Colors*/
@define-color pywal-active-bg alpha(@color4, 0.9);
@define-color pywal-active-fg alpha(@color0, 0.8);
@define-color pywal-hover-bg alpha(mix(@color5, @color2, 0.5), 0.5);
@define-color pywal-hover-fg alpha(@foreground, 0.9);

/* =========================================
   🌐 Global Style
   ========================================= */
* {
	border: none;
	border-radius: 0px;
	font-family: "MartianMono Nerd Font";
	font-weight: bold;
	font-size: 13px;
	min-height: 10px;
}

window#waybar {
	background: @pywal-bar-bg;
	border-radius: 15px;
}

/* =========================================
   💬 Tooltip
   ========================================= */
tooltip {
	background: @pywal-module-bg;
	color: @pywal-module-fg;
	border-radius: 7px;
	border-width: 0px;
}

/* =========================================
   🧭 Workspaces
   ========================================= */
#workspaces {
	margin: 4px 0px 4px 9px;
	background: @pywal-module-bg;
	border-radius: 21px;
	padding: 0 4px;
}

#workspaces button {
	box-shadow: none;
	text-shadow: none;
	border-radius: 9px;
	color: @pywal-module-fg;
	padding: 4px 10px;
	margin: 0 3px;
	transition: background 0.4s ease, color 0.4s ease;
}

#workspaces button.active {
	background: @pywal-active-bg;
	color: @pywal-active-fg;
}

#workspaces button:hover {
	background: @pywal-hover-bg;
	color: @pywal-hover-fg;
}

/* =========================================
   ⚙️ Modules
   ========================================= */
#pulseaudio,
#tray,
#cpu,
#memory,
#backlight,
#battery,
#bluetooth,
#clock,
#custom-swaync,
#custom-cava,
#custom-playerctl,
#hyprland-window {
	color: @pywal-module-fg;
	background: @pywal-module-bg;
	opacity: 1;
	margin: 4px 0px;
	padding: 5px 10px;
	border-radius: 21px;
	transition: background 0.4s ease, color 0.4s ease;
}

#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#backlight:hover,
#bluetooth:hover,
#clock:hover,
#custom-playerctl:hover {
	background: @pywal-hover-bg;
	color: @pywal-hover-fg;
}

/* =========================================
   🎛 Custom modules
   ========================================= */
#custom-cava {
	border-radius: 21px;
	margin-left: 9px;
	padding: 5px;
}

#custom-swaync {
	border-radius: 21px;
	margin-right: 9px;
	padding: 5px;
}

#hyprland-window {
	border-radius: 21px;
	margin: 0 9px;
	padding: 5px 10px;
}

/* =========================================
   🪟 Hyprland workspaces
   ========================================= */
#hyprland-workspaces button.active {
	background: @pywal-active-bg;
	color: @pywal-active-fg;
}

#hyprland-workspaces button {
	color: @pywal-module-fg;
}
