/* ~/.config/wofi/style.css */

* {
    font-family: "CasKaydiaCove Nerd Font";
    font-weight: bold;
    font-size: 14pt;
}


window {
  margin: 0px;
  border: 2px solid #5e81ac;
  background-color: rgba(20, 20, 30, 0.95);
  border-radius: 10px;
}

#input {
  margin: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

#entry {
  padding: 8px;
  color: #ffffff;
}

#entry:selected {
  background-color: #5e81ac;
}

